{% extends 'base.html' %}


{% block content %}

<div class="container">
    <!--Header Section-->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>View our wide variety cars in our inventory.</h2>
            <h5>Don't see a vehicle you want? Contact us to make a custom order.</h5>
            <div>
                <button class="btn btn-primary">View Our inventory</button>
                <button class="btn btn-primary">Contact Us</button>
            </div>
        </div>
        <!--Header Image-->
        <div class="col-12 col-md-6">
            <img class="header-image" src="../../static/images/istockphoto-1150425295-170667a.jpg" alt="Hero Header Image">
        </div>
    </header>
    <!--End of Header Section-->

    <!--Start Middle Section-->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Drive In style!</h2>
            <p>Worried about price? We have affordable finacing for anyone!</p>
        </div>
    </section>
    <!--End of Middle Section-->

    <!--Collection of Features Section-->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <h4>Sports</h4>
            <p>
                
            </p>
        </div>

        <div class="col-12 col-md-4">
            <h4>Sedan</h4>
            <p>
                We have ALL types of vehicles
            </p>
        </div>

        <div class="col-12 col-md-4">
            <h4>Coupe</h4>
            <p>
                
            </p>
        </div>
    </section>
    <!--End of Collection Features-->

    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/set-four-pastel-cars-white-background-hand-drawn-toy-cars_126267-6860.webp" alt="Drone Image" id="Drone-image">
        </div>

        <div class="col-12 col-md-6">
            <h4>Find The Car of Your Dream!</h4>
            <p>
                Get in contact with a employee today to view to talk about a vehicle!
            </p>
            <div>
                <button class="btn btn-primary">Contact An Employee</button>
                <button class="btn btn-primary">Check Out Our Inventory</button>
            </div>
        </div>
    </section>
    <!--End of Community Section-->

    <!--Start of Footer-->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/images/tow-mater-cars-movie-wallpaper-thumb.jpg" alt="Coding Drones Logo" id="footer-logo">
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>


</div>

{% endblock content %}